body { background-color: aqua;}

p { color: black;}

#mijncv{ 
    background-color: blue;
    text-align: center;
}


.taal {
     font-size: 24px; 
     
    }

h3 { color: black;}

h1 { 
    
    text-align: center;

}

.class { 
    text-align: center; 
}

.mijnKlasse { font-size: 24px; }


* { margin: 0; padding: 0; }


#mijnID { background-color: red; }


div  { text-align: center; }

.container {
    display: grid;
  }
  

  .item {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  