body { background-color: green;}

p { color: brown;}

#mijncv{ 
    background-color: blue;
    text-align: center;
}


.taal {
     font-size: 24px; 
    }

h2,h3 { color: green;}

h1 { text-align: center;}

.class { 
    text-align: center; 
}